<select class="form-control" value="{{val}}" {{#disabled}}disabled{{/disabled}}>
    {{#values}}
        <option value="{{this.val}}">
            {{this.title}}
        </option>
    {{/values}}
</select>