<div class="input-group">
    {{#beforeInput}}<span class="input-group-addon">{{beforeInput}}</span>{{/beforeInput}}
    <Input/>
    {{#afterInput}}<span class="input-group-addon">{{afterInput}}</span>{{/afterInput}}
</div>