<div class="form-group">
    <div class="row">
        <div class="col-xs-4">
            <input class="form-control" name="firstNum" type="text" value="{{firstNum}}">
        </div>
        <div class="col-xs-4">
            <div class="input-phone-delimiter">{{delimiter}}</div>
            <input class="form-control" name="secondNum" type="text" value="{{secondNum}}">
        </div>
        <div class="col-xs-4">
            <div class="input-phone-delimiter">{{delimiter}}</div>
            <input class="form-control" name="thirdNum" type="text" value="{{thirdNum}}">
        </div>
    </div>
</div>
