<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <div class="input-group-addon">{{secondNameLabel}}</div>
            <input class="form-control" name="secondName" type="text" value="{{secondName}}">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="input-group">
            <div class="input-group-addon">{{firstNameLabel}}</div>
            <input class="form-control" name="firstName" type="text" value="{{firstName}}">
        </div>
    </div>
</div>