<div class="row">
    <div class="col-sm-6">
        <DatePicker
                val="{{this.date}}"
        />
    </div>
    <div class="col-sm-6">
        <TimeSelect
                val="{{this.time}}"
        />
    </div>
</div>